{% extends "baseadmin.html" %}
{% load url from future %}
<html>
  <head>

	{% block head %} {% endblock %}
    {% block title %}<title>Sign in Twitter Bootstrap</title>{% endblock %}
  </head>
  <body>
   {% block content %}
   {% endblock %}
	
	 {% block file %}

        	<ol class="breadcrumb">
                <li><a href="/Iwork/admin/">Home</a></li>
                <li><a href="#">Groupadd</a></li>
                <li class="active">Data</li>
           	</ol>
		<form action="" method="post">
		{% csrf_token %}
			<table class="table table-striped">
			<tr class="ipadd_td_left">
			<td class="col-xs-1">{{form.group_name.label}}</td>
			<td class="col-xs-2">{{ form.group_name }}</td>
			<td class="col-xs-3"  style="text-align:left">{{ form.group_name.errors }}</td>
			</tr>
			</table>
				{% for ip in ips %}
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox{{ip.id}}" name="answer"value="{{ip.ip_address}}">{{ip.ip_address}}</label>
				{% endfor %}
			<h3><input name="checkall1" type="checkbox" value="0" onClick="checkAllBox(this);"/>全选<br></h3>
       	<hr>	<td><input type="submit" class="btn btn-primary" value="添 加" ></td> 
    		</form>



		  
        {% endblock %}




	{% block footer %}
      {% endblock %}

	</body>
</html>
