{% extends "baseadmin.html" %}
{% load url from future %}
<html>
  <head>
	{% block head %} {% endblock %}
    {% block title %}<title>Sign in Twitter Bootstrap</title>{% endblock %}
  </head>
  <body>

   {% block content %}
         
    {% endblock %}
	{% block file %}
       	   <ol class="breadcrumb">
                <li><a href="/Iwork/admin/">Home</a></li>
                <li><a href="#">ipadd</a></li>
                <li class="active">Data</li>
	
           </ol>
	<div class="filetext">
	<form action="" method="post">
	 {% csrf_token %} 
    <table class="table">
	{% if messages %}
                <p class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="text-align:left;">{{ message }}</li>
                {% endfor %}
                </p>
                {% endif %}

	
    <tr class="filetr">
	<td class="col-xs-2">{{ form.envver.label }}</td>
        <td class="col-xs-3">{{ form.envver }}</td>
	<td class="col-xs-3">{{ form.envver.errors }}</td>
	</tr>
	</table>
        <td><button  type="submit" class="btn btn-primary"> 添 加 </button></td>
</form>
	</div>
	{% endblock %}

	{% block footer %}{% endblock %}

	</body>
</html>
